
/* Estilos para el MENU*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
}

#titulo{
    color: #f05f40;
}
#menus:hover{
    color: #f05f40;
}
#navbar{
    background-color: whitesmoke;
}

.colorlogres{
    color:#f05f40;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Estilos CUERPO*/
/*
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(30em - 81px);
    background-image: url("../images/f1.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
*/

.fondodiv{
    background-color:white;
}

.colordesc{
    background-color: #222222;
    color:#f05f40;
}

.colordesc:hover{
    color:red;
}

.imgmitad{
    display:block;
    margin:0 auto;
}

.transition{
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.blanco{
    color:white;
}

h1{
    font-family: 'Vollkorn SC', serif;
    color : white
}

h2,h3,h4{
    font-family: 'Vollkorn SC', serif;
}

.parallax {
    /* The image used */
    background-image: url("../images/f1.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.video{
    display:block;
    margin: 0 auto;
}



/* Estilos FOOTER

footer {
    background-color: black;
}
#footer1 {
    height: 82vh;
}
#parrafo{
    color: lightblue;
}

footer {
    background-color: #101010;
}
#footer1 {
    height: 82vh;
}
#parrafo{
    color: lightblue;
}*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li{
    float:left;
}
.linked-in{
    background-color:#007bb6;
}
.facebook{
    background-color:#3b5998;
}
.twitter{
    background-color:#1da1f2;
}
.google{
    background-color:#f63e28;
}

/*Estilos para el PopUp del contacto*/
.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
}

.modal-dialog {
    top: 20%;
    width: 100%;
    position: absolute;
}
.modal-content {
    border-radius: 0px;
    border: none;
    top: 40%;
}
.modal-body {
    background-color: #0f8845;
    color: white;
}



.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#tabla{
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

}
.boton{
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 0 14px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 37px;
    text-decoration: none;
}
.boton.eliminar{
    background-color: red;
    color: whitesmoke;
}
.boton.editar{
    background-color: blue;
    color: whitesmoke;
}


.cabecera{
    color: #9D9D9D;
    background-color: #222222;

}
.contenidoTabla{
    background-color: #0C1A1E;
    color: whitesmoke;
}
.contenidoCabecera{
    text-align: center;
}
/* <-- /Tabla de usuarios --> */

/* <-- Editor de usuarios --> */
.editor{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #0C1A1E;
    align-content: center;
}
.cabeceraEditor{
    color: whitesmoke;
}
#campos{
    border: 1px solid;
}
.boton.actualizar{
    background-color: #0d3625;
    color: whitesmoke;
}